{% extends "layout.html" %}
{% load static %}
{% load i18n %}
{% block title %}
  <title>{% trans "Fleet&Rate - Luxtripbaku a company experienced in organizing transfers and tours" %}</title>
{% endblock title %}
{% block meta_tags %}
<meta name="description" content="LUX TRIP BAKU offers reliable, professional drivers with prices 30% lower than market rates. Choose from our fleet, enjoy on-time service, and book unforgettable tours.">
<meta property="og:title" content="Fleet Page - Luxtripbaku a company experienced in organizing transfers and tours" />
<meta property="og:description" content="LUX TRIP BAKU offers reliable, professional drivers with prices 30% lower than market rates. Choose from our fleet, enjoy on-time service, and book unforgettable tours." />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{request.build_absolute_uri}}" />
<meta property="og:image" content="{% static "assets/logo.webp" %}" />
{% endblock meta_tags %} 
{% block main %}

<main>
  <section id="fleet-upper">
    <img src="{% static "assets/fleetupper.png" %}" alt="" />
    <div class="content">
      <h1>{% trans "Fleet&Rate" %}</h1>
    </div>
    <div class="links">
      <h6>{% trans "Transfer prices in Baku" %}</h6>
      <div class="d-flex justify-content-center">
        <span>{% trans "Airport" %}</span>
        <i class="fa-solid fa-left-right"></i>
        <span>{% trans "Hotel" %}</span>
      </div>
    </div>
  </section>
  <section id="cars">
      <h4 class="text-center">{% trans "All cars are real and from our fleet" %}</h4>
    <div class="custom-container">
        <div class="row row-gap-5">
            {% for car in cars %}
            <div class="col-6 col-md-4 col-lg-3">
                <div class="car-box">
                    <img src="{{ car.image.url }}" alt="{{ car.name }}" />
                    
                    <!-- 1-way price div -->
                    <div class="price">
                        {% for price in car.prices.all %}
                            {% if price.way_count == 1 %}
                                {{ price.price|floatformat:0 }} USD / {% trans "1 way" %}
                            {% endif %}
                        {% endfor %}
                    </div>
                    
                    <!-- 2-way price div -->
                    <div class="price">
                        {% for price in car.prices.all %}
                            {% if price.way_count == 2 %}
                                {{ price.price|floatformat:0 }} USD / {% trans "2 way" %}
                            {% endif %}
                        {% endfor %}
                    </div>
                    
                    <div class="car-name">{{ car.name }}</div>
                    <hr />
                    <div class="car-banner-lux">{{ car.ban_type }}/{{ car.lux_type }}</div>
                    <div class="d-flex personbagcount">
                        <div class="d-flex person">
                            <i class="fa-solid fa-user-large"></i>
                            <p>x{{ car.person_count }}</p>
                        </div>
                        <div class="d-flex bag">
                            <i class="fa-solid fa-suitcase-rolling"></i>
                            <p>x{{ car.luggage_count }}</p>
                        </div>
                    </div>
                </div>
                
            </div>
            {% endfor %}
        </div>
    </div>
</section>

  <section id="include-fleet-form">
    <div class="custom-container">
      <h2 class="text-center">{% trans "Transfer booking" %}</h2>
      <h2 class="text-center hide">{% trans "Tour booking" %}</h2>
      <div class="categories d-flex">
        <div class="category category1 active-category">{% trans "Transfer booking" %}</div>
        <div class="category category2">{% trans "Tour booking" %}</div>
      </div>
      <form class="fleet-form" action="{% url 'promotion:submit_fleet_form' %}" method="post">
        {% csrf_token %}
        {% if messages %}
        {% for message in messages %}
        <div class="alert {% if 'success' in message.tags %}alert-success{% elif 'error' in message.tags %}alert-danger{% endif %} mt-3">
         {{ message }}
         {% if fleetform.errors %}
        <div class="alert alert-danger mt-3">
            <ul>
                {% for field, errors in fleetform.errors.items %}
                    {% for error in errors %}
                        <li>{{ error }}</li>
                              {% endfor %}
                {% endfor %}
            </ul>
        </div>
        {% endif %}
        </div>
        {% endfor %}
        {% endif %}
        
        <h6>
        {% trans "Please provide the transfer details below." %} 
        {% trans "We will get back to you shortly with the most " %}
        {% trans "suitable price offers!" %}
        </h6>
    
        <!-- Pickup Location -->
        <div class="form-group">
            <div class="d-flex">
                <label for="{{ fleetform.pickup_location.id_for_label }}">{% trans "Pickup Location*" %}</label>
                <i class="fa-solid fa-map-location-dot"></i>
            </div>
            {{ fleetform.pickup_location }}
        </div>
    
        <!-- Dropoff Location -->
        <div class="form-group">
            <div class="d-flex">
                <label for="{{ fleetform.dropoff_location.id_for_label }}">{% trans "Drop-off location*" %}</label>
                <i class="fa-solid fa-location-crosshairs"></i>
            </div>
            {{ fleetform.dropoff_location }}
        </div>
    
        <!-- Date and Time of Service -->
            <div class="form-group">
                <div class="d-flex">
                    <label for="{{ fleetform.date_of_service.id_for_label }}">{% trans "Date of service*" %}</label>
                    <i class="fa-regular fa-calendar-days"></i>
                </div>
                {{ fleetform.date_of_service }}
            </div>
            <div class="form-group custom-gap">
                <div class="d-flex">
                    <label for="{{ fleetform.time_of_service.id_for_label }}">{% trans "Time of service*" %}</label>
                    <i class="fa-solid fa-clock"></i>
                </div>
                {{ fleetform.time_of_service }}
            </div>
    
        <!-- Car Class -->
            <div class="form-group">
              <div class="d-flex">
                  <label for="{{ fleetform.car_class.id_for_label }}">{% trans "Car class*" %}</label>
                  <i class="fa-solid fa-car-side"></i>
              </div>
              <div class="custom-select">
                  <div class="selected-option" data-value="">
                     {% trans " Select a Car Class" %}
                  </div>
                  <ul class="options">
                      {% for value, label in fleetform.car_class.field.choices %}
                          <li data-value="{{ value }}">
                              {{ label }}
                              {% if value != 'any' %}
                                <img src="{% static 'assets/'|add:value|add:'.png' %}" alt="{{ label }} Icon" />
                              {% endif %}
                          </li>
                      {% endfor %}
                  </ul>
                  <!-- Hidden select element -->
                   <div class="d-none">
                     {{ fleetform.car_class }}
                   </div>
              </div>
            </div>

    
        <!-- Flight Number -->
        <div class="form-group">
            <div class="d-flex">
                <label for="{{ fleetform.flight_number.id_for_label }}">{% trans "Flight number" %}</label>
                <i class="fa-solid fa-plane-arrival"></i>
            </div>
            {{ fleetform.flight_number }}
        </div>
    
        <!-- Additional Request -->
        <div class="form-group">
            <div class="d-flex">
                <label for="{{ fleetform.additional_request.id_for_label }}">{% trans "Additional request" %}</label>
                <i class="fa-solid fa-bell-concierge"></i>
            </div>
            {{ fleetform.additional_request }}
        </div>
    
        <!-- Full Name -->
        <div class="form-group">
            <div class="d-flex">
                <label for="{{ fleetform.full_name.id_for_label }}">{% trans "Full name*" %}</label>
                <i class="fa-solid fa-marker"></i>
            </div>
            {{ fleetform.full_name }}
        </div>
    
        <!-- Email -->
        <div class="form-group">
            <div class="d-flex">
                <label for="{{ fleetform.email.id_for_label }}">{% trans "Email*" %}</label>
                <i class="fa-solid fa-envelope"></i>
            </div>
            {{ fleetform.email }}
        </div>
    
        <!-- Phone -->
        <div class="form-group">
            <div class="d-flex">
                <label for="{{ fleetform.phone.id_for_label }}">{% trans "Cell Phone*" %}</label>
                <i class="fa-solid fa-phone"></i>
            </div>
            {{ fleetform.phone }}
        </div>
    
        <button class="btn btn-success" type="submit" name="fleet_submit" value="submit">{% trans "Submit" %}</button>
    </form>
    <form class="transfers-form" action="{% url 'promotion:submit_tour_form' %}" method="post">
      {% csrf_token %}
      {% if messages %}
      {% for message in messages %}
        <div class="alert {% if 'success' in message.tags %}alert-success{% elif 'error' in message.tags %}alert-danger{% endif %} mt-3">
         {{ message }}
         {% if tourform.errors %}
        <div class="alert alert-danger mt-3">
            <ul>
                {% for field, errors in tourform.errors.items %}
                    {% for error in errors %}
                        <li>{{ error }}</li>
                              {% endfor %}
                {% endfor %}
            </ul>
        </div>
        {% endif %}
        </div>
      {% endfor %}
      {% endif %}
  
      <h6>
        {% trans "Please list your preferences below. We will get back" %}
        {% trans "to you as soon as possible with the best offers" %} 
        {% trans "that match your requests!" %}
      </h6>
  
      <!-- Select City -->
      <div class="form-group">
          <div class="d-flex">
              <label for="{{ tourform.select_city.id_for_label }}">{% trans "Select the cities or districts you wish to tour*" %}</label>
              <i class="fa-solid fa-city"></i>
          </div>
          {{ tourform.select_city }}
      </div>
  
      <!-- Planned Tour Days -->
      <div class="form-group">
          <div class="d-flex">
              <label for="{{ tourform.planned_tour_days.id_for_label }}">{% trans "Planned tour days*" %}</label>
              <i class="fa-solid fa-calendar"></i>
          </div>
          {{ tourform.planned_tour_days }}
      </div>
  
      <!-- Travel Date -->
      <div class="dateandtime">
          <div class="form-group">
              <div class="d-flex">
                  <label for="{{ tourform.travel_date.id_for_label }}">{% trans "Travel date*" %}</label>
                  <i class="fa-regular fa-calendar-days"></i>
              </div>
              {{ tourform.travel_date }}
          </div>
      </div>
  
      <!-- Car Class -->
      <div class="form-group">
          <div class="d-flex">
              <label for="{{ tourform.car_class.id_for_label }}">{% trans "Car class" %}</label>
              <i class="fa-solid fa-car-side"></i>
          </div>
          <div class="custom-select">
              <div class="selected-option" data-value="">
                  {% trans "Select a Car Class" %}
              </div>
              <ul class="options">
                  {% for value, label in tourform.car_class.field.choices %}
                      <li data-value="{{ value }}">
                          {{ label }}
                          {% if value != 'any' %}
                            <img src="{% static 'assets/'|add:value|add:'.png' %}" alt="{{ label }} Icon" />
                          {% endif %}
                      </li>
                  {% endfor %}
              </ul>
              <!-- Hidden select element -->
              <div class="d-none">
                  {{ tourform.car_class }}
              </div>
          </div>
      </div>
  
      <!-- Additional Request -->
      <div class="form-group">
          <div class="d-flex">
              <label for="{{ tourform.additional_request.id_for_label }}">{% trans "Additional request" %}</label>
              <i class="fa-solid fa-bell-concierge"></i>
          </div>
          {{ tourform.additional_request }}
      </div>
  
      <!-- Full Name -->
      <div class="form-group">
          <div class="d-flex">
              <label for="{{ tourform.full_name.id_for_label }}">{% trans "Full name*" %}</label>
              <i class="fa-solid fa-marker"></i>
          </div>
          {{ tourform.full_name }}
      </div>
  
      <!-- Email -->
      <div class="form-group">
          <div class="d-flex">
              <label for="{{ tourform.email.id_for_label }}">{% trans "Email*" %}</label>
              <i class="fa-solid fa-envelope"></i>
          </div>
          {{ tourform.email }}
      </div>
  
      <!-- Phone -->
      <div class="form-group">
          <div class="d-flex">
              <label for="{{ tourform.phone.id_for_label }}">{% trans "Cell Phone*" %}</label>
              <i class="fa-solid fa-phone"></i>
          </div>
          {{ tourform.phone }}
      </div>
  
      <button class="btn btn-success" type="submit" name="tour_submit" value="submit">{% trans "Submit" %}</button>
    </form>
    </div>
  </section>
</main>
{% endblock main %}
