* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

@import "home";
@import "responsive-home";
@import "faq";
@import "contact";
@import "blog";
@import "blog-detail";
@import "fleet";
@import "tours";